h2= title
link(rel='stylesheet', href='/stylesheets/style.css')
link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/spectre.css/0.5.1/spectre.min.css')
if success
  section.success
  h2  successful validation
else 
    if errors||errors_db
        section.errors
            table
                tr
                    th Error
                    if (errors_db)
                      each val in errors_db
                        tr
                          td #{val}      
                    else if (errors)     
                        each val in errors
                          tr
                            td #{val.msg}                            
form(action='/submit', method='post')
  .input
    lable(for='name') Full Name
      if(errors||errors_db)
        input#name(type='text', name='name', value=body.name)  
      else
        input#name(type='text', name='name') 
  .input
    lable(for='email') E-mail
      if(errors||errors_db)
        input#email(type='text', name='email', value=body.email)
      else
        input#email(type='text', name='email')
  .input
    lable(for='mobile') Mobile Number
      if(errors||errors_db)
        input#mobile(type='text', name='mobile', value=body.mobile)
      else
        input#mobile(type='text', name='mobile')
  .input
    lable(for='password') password
      if(errors||errors_db)
        input#password(type='password', name='password',value=body.password)
      else
         input#password(type='password', name='password')
  .input
    lable(for='confirmPassword') confirsmPassword
      if(errors||errors_db)
        input#confirmPassword(type='password', name='confirmPassword', value=body.confirmPassword)
      else
        input#confirmPassword(type='password', name='confirmPassword')
  button(type='submit') Sign up

    
  